<html>

<head>
	<meta charset="UTF-8">
	<title>title</title>
	<style>
		table {
			text-align: center;
		}

		img {
			width: 100%;
		}
	</style>
</head>

<body>

	<table>
		<caption></caption>
		<tr>
			<td><img src="https://movie-phinf.pstatic.net/20111222_33/1324533894503h3QAH_JPEG/movie_image.jpg"
					alt="cla_img" style="width:256px;height:256px;"></td>
			<td><img src="https://movie-phinf.pstatic.net/20200622_258/1592800941290k9j8W_JPEG/movie_image.jpg"
					alt="cla_img" style="width:256px;height:256px;"></td>
			<td><img src="https://movie-phinf.pstatic.net/20111222_110/1324565733425n9ccN_JPEG/movie_image.jpg"
					alt="cla_img" style="width:256px;height:256px;"></td>

		</tr>
		<tr>
			<td>클레멘타인</td>
			<td>영웅</td>
			<td>성냥팔이 소녀의 재림</td>
		</tr>
		<tr>
			<td> </td>
			<td> </td>
			<td> </td>
		</tr>
		<tr>
			<td><button>예매하기</button></td>
			<td><button>예매하기</button></td>
			<td><button>예매하기</button></td>

		</tr>

	</table>

</body>

</html>